.location{
    .location__map{
        width: 100%;
        height: 60vh;
        margin-bottom: $margin-regular;
    }
    padding:$padding-regular;
    .location__wrapper{
        width:100%; 
        overflow-x: auto;
        overflow-y: hidden;
        .location__table{
            width: 100%;
            min-width: 1440px;
            border-collapse: separate;
            border-spacing: 5px;
            .loaction__th{
                color: $color-white;
                background-color: $color-vue;
                border: 1px solid black;
                text-align: center;
                padding: 10px 3px;
                white-space: nowrap;
            }
            .location__td{
                border: 1px solid black;
                text-align: center;
                background-color: $color-white;
                color: $color-gray-dark;
            }
            .location__th--first{
                border:none;
                color: none;
                background-color: transparent;
            }
        }
    }
}
